* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Roboto", sans-serif;
  font-family: "Volkhov", serif;
  font-size: 16px;
  scroll-behavior: smooth !important;
}

/* header  */
header.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  /* box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05); */
}
header.main-header .dark-light #gg-moon {
  color: black !important;
}
header.main-header #dropdown {
  color: black !important;
}

header.main-header {
  height: auto;
  padding: 17px 0;
} 

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: var(#060606);
}

.nav-fixed .my-container {
  color: #fff;
}

.nav-fixed .navbar-brand {
  color: black;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fb811e;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fb811e;
}

.nav-fixed .navbar form.search-box input {
  border: 2px solid #eee;
  color: #333;
}

.nav-fixed .search-right a {
  color: var(#060606);
}

.nav-fixed .search-right a:hover {
  color: var(#060606);
  opacity: 1;
}

.nav-fixed ul#menu {
  color: var(#060606);
}

header.nav-fixed {
  height: auto;
  padding: 14px 0;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar-brand.index-responsive-color {
    color: #fff;
  }

  .nav-fixed .navbar .navbar-brand.index-responsive-color {
    color: #fb811e;
  }
}

@media only screen and (max-width: 480px) {

  .navbar .navbar-brand,
  a.footer-logo {
    font-size: 28px;
  }

  header.nav-fixed nav.navbar.navbar-expand-lg.stroke {
    padding: 0rem;
  }
}


.my-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 !important;
}

header .navbar-brand {
  font-size: 32px;
  color: #fb801e;
  padding: 0px;
  position: relative;
  padding-top: 10px;
  transition: all 0.5s;
}
header .navbar-brand:hover {
  color: black;
}
.navbar-brand i {
  position: absolute;
  top: 10px;
  left: 55px;
  font-size: 20px;
}
#search-box {
  position: relative;
  width: 35px;
  height: 35px;
  transition: all 0.5s;
}
#btn-search-box {
  height: 35px;
  width: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
  color: black;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
#btn-search-box:focus {
  outline: none;
}
#input-search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.5s;
  outline: none;
  background-color: white;
}

#search-box.open {
  width: 200px;
  padding-right: 10px;
}
.dark-light {
  margin-left: 10px;
  color: white;
  font-size: 25px;
}

.drop-down {
  margin-left: 10px;
  position: relative;
}
#dropdown {
  font-size: 25px;
  color: white;
}
.drop-down-menu {
  position: absolute;
  top: 40px;
  right: 0;
}
.drop-down-menu {
  width: 200px;
  height: 0px;
  transition: all 0.5s;
  background-color: white;
  color: black;
}
#dropdown-display {
  height: 100%;
  width: 100%;
  background-color: white;
  display: none;
  overflow: hidden;
}
.drop-down-menu ul li {
  list-style: none;
  text-align: center;
  color: black;
  margin: 10px 0;
}
.drop-down-menu ul li.active {
  padding-top: 8px;
}
.drop-down-menu.scroll {
  height: 300px;
}
/* end header  */

/* carousel  */
.carousel-img {
  position: relative;
  border-bottom-left-radius: 30px !important;
  top: 0;
  right: 0;
}
.owl-carousel img {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 30px;
  object-fit: cover;
}
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 17%);
  border-bottom-left-radius: 20px;
}
.overlay-text {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: white;
  border-bottom-left-radius: 20px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.owl-dots {
  z-index: 5;
}

.owl-dots:focus {
  outline: none;
  border: none;
}
.carousel-container-text {
  position: relative;
  left: 9em;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 40px;
}
.carousel-container-text h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
  position: absolute;
  top: 60px;
  left: 0;
}
.carousel-text {
  position: absolute;
  top: 140px;
  left: 0;
  overflow: hidden;
}
.carousel-text h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
.carousel-text p {
  font-size: 20px;
}
.carousel-text a {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb801e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.carousel-text a:hover {
  background: #009f4d;
  color: white;
}

/* Naturally  */
.naturally-container {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 80px 0;
}
.naturally-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.naturally-text {
  padding-right: 3em;
}
.naturally-text h5 {
  color: #fb801e;
  font-size: 22px;
  width: 100%;
  margin: 0 auto;
}
.naturally-text h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
}
.naturally-text p {
  color: #707070;
  width: 100%;
  margin: 0 auto;
}
.naturally-text a {
  margin-top: 30px;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb801e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.5s;
}
.naturally-text a:hover {
  background: #009f4d;
  color: white;
}
.naturally-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}
.naturally-item {
  padding: 30px 50px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: white;
}
.naturally-item img {
  max-width: 65px;
  text-align: center;
}
.naturally-item:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.naturally-link {
  margin-top: 20px;
}
.naturally-link a {
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  color: black;
  font-size: 20px;
  transition: all 0.5s;
  font-size: 20px;
}
.naturally-link a:hover {
  color: #009f4d;
  text-decoration: none;
}
/* end Naturally  */

/* Services  */
.service {
  padding: 50px 0;
  background-color: #009f4d;
}
.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.service-title {
  color: white;
  position: relative;
  padding: 50px 0;
}
.service-title .service-text-left h5 {
  font-size: 22px;
}
.service-title .service-text-left h3 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
  width: 90%;
}
.service-text-right {
  position: absolute;
  top: 35px;
}
.service-text-right p {
  font-size: 20px;
  font-weight: 300;
}
.service-absolut {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  font-size: 200px;
}
.service-img {
  justify-content: space-between;
}
.service-item .card {
  border: 1px solid #009f4d;
  border-top-left-radius: 16px;
  border-radius: 20px;
  width: 100%;
}
.service-item .card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.service-item .card-body {
  background: white;
  padding: 30px 20px;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}
.service-item .card-body span {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.service-item .card-body a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: black;
  margin: 15px 0;
  transition: all 0.5s;
}
.service-item .card-body a:hover {
  color: #009f4d;
  text-decoration: none;
}

/* end services  */
/* Why  */
.why {
  padding: 50px 0;
}
.why-container {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 30px 0;
}
.why-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.why-title h5 {
  font-size: 25px;
  color: #fb801e;
  width: 100%;
}
.why-title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  width: 100%;
}
.why-title p {
  color: #707070;
  margin-top: 1.5em;
  line-height: 30px;
  width: 100%;
}
.why-social {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.why__header-bottom {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.why__header-bottom span {
  color: #fb801e;
  font-size: 30px;
}
.why__icon-text {
  margin-left: 10px;
}
.why__icon-text h4 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 700;
}
.why-img {
  position: relative;
}
.why-img img {
  width: 100%;
  border-radius: 30px;
}
.why-info {
  background-color: #fb801e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 35px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.why-info h6 {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
/* end why  */

/* reponsive  */
@media only screen and (min-width: 20em) {
  .my-container {
    display: grid !important;
    margin-left: 15px;
  }
  .form-inline {
    z-index: 10 !important;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    transform: translateX(-30px);
  }
  #dropdown-display {
    margin-left: 80px !important;
    z-index: 5 !important;
  }

  #input-search-box {
    border: 1px solid black;
  }
  .carousel-container-text {
    width: 100%;
    top: -60px !important;
  }
  .carousel-container-text {
    width: 100%;
    left: 0;
    top: -70px;
  }
  .carousel-container-text h2 {
    font-size: 60px;
    top: 150px;
    left: 35px;
    z-index: 5;
  }
  .carousel-text {
    padding: 60px 20px 30px 30px;
    background: #ffff;
    border-radius: 16px;
    z-index: -1 !important;
  }
  .carousel-text h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .carousel-text p {
    font-size: 16px;
    color: #707070;
  }
  .carousel {
    width: 100%;
    position: relative;
    z-index: 0;
  }
  .naturally-text {
    padding-right: 0 !important;
  }
  .naturally-text h5 {
    font-size: 18px;
  }
  .naturally-text h3 {
    font-size: 35px;
    line-height: 40px;
  }
  .naturally-text p {
    font-size: 15px;
  }
  .naturally-img {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
  }
  .service {
    padding: 0 0 30px !important;
  }
  .service-content {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-text-left {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .service-title .service-text-left h3 {
    font-size: 30px !important;
    line-height: 35px;
  }
  .service-text-right p {
    color: #fff !important;
    font-size: 16px;
    padding-right: 13px;
  }
  .service-text-right {
    padding: 0 !important;
    max-width: 100% !important;
  }
  .service-absolut {
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: 0.14;
    font-size: 12vw;
    left: 50%;
    top: 130px;
  }
  .service-title {
    padding: 0 0px 50px;
  }
  .service-container {
    padding: 30px 25px 0 25px;
  }
  .service-item .card-body {
    padding: 15px;
  }
  .card-text {
    font-size: 16px;
  }
  .service-item .card img {
    width: 100%;
  }
  .service-img {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0;
  }
  .service-item {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .why-container {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .why-title {
    max-width: 100% !important;
    overflow: hidden !important;
  }
  .why-title h5 {
    font-size: 18px;
  }
  .why-title h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
  }
  .why-title p {
    margin-top: 1rem !important;
    line-height: 25px;
  }
  .why-social {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .why__icon-text h4 {
    font-size: 20px;
  }
  .why-img {
    max-width: 100% !important;
    margin-left: 0 !important;
  }
  .why-img img {
    width: 100%;
  }
  .why-info {
    left: -50px;
  }
}
@media only screen and (min-width: 35.5em) {
  .my-container {
    display: flex !important;
  }
  .carousel-text {
    top: 0px;
    padding: 110px 70px 95px;
  }
  .carousel-container-text h2 {
    font-size: 80px;
    top: 45px;
    left: 70px;
  }

  .carousel-img {
    width: 100% !important;
  }
  .carousel-text h3 {
    font-size: 31px;
    line-height: 42px;
  }
  .carousel-text p {
    font-size: 15px;
  }
  .naturally-img {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
}
@media only screen and (min-width: 36em) {
  /* header  */
  .navbar {
    width: 100%;
    padding-left: 20px;
    margin-top: 5px;
    display: flex;
    align-items: flex-start !important;
    flex-direction: column;
    padding-left: 20px !important;
  }

  #dropdown {
    color: black;
  }
  #dropdown-display {
    margin-left: 80px !important;
    z-index: 5 !important   ;
  }
  .gg-moon {
    color: black;
  }
  .gg-sun {
    color: black;
  }
  #input-search-box {
    border: 1px solid black;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    z-index: 2;
  }
  .carousel {
    width: 100%;
    position: relative;
    z-index: 0;
  }
  .carousel-container-text {
    left: 0;
  }
  .carousel-container-text h2 {
    font-size: 60px;
    top: 30px;
    left: 30px;
  }
  .carousel-text {
    padding: 30px;
    background: white;
    top: 20px;
    left: 0;
    border-radius: 12px;
    z-index: 0 !important;
  }
  .carousel-text h3 {
    font-size: 25px;
    line-height: 35px;
    transform: translateY(30px);
  }
  .carousel-text p {
    font-size: 16px;
    transform: translateY(30px);
    margin-bottom: 50px;
    line-height: 25px;
    color: black;
  }
  .carousel-img img {
    width: 100%;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
  /* .naturally */
  .naturally {
    width: 100% !important;
  }
  .naturally-text {
    padding: 0 !important;
  }
  .naturally-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .naturally-img {
    margin-left: 18px;
  }
  .service {
    padding-top: 0;
  }
  .service-container {
    padding: 15px;
  }
  .service-title {
    padding-top: 0;
  }
  .service-content {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-text-left {
    max-width: 100% !important;
  }
  .service-text-left h3 {
    font-size: 30px !important;
    width: 100% !important;
    line-height: 35px !important;
    font-weight: 600;
  }
  .service-text-right {
    max-width: 100% !important;
    margin-top: 0 !important;
  }
  .service-text-right P {
    font-size: 1.25rem;
  }
  .service-absolut {
    font-size: 50px;
    top: 35%;
  }
  .service-img {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-item {
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .why-container {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .why-title {
    max-width: 100% !important;
    overflow: hidden !important;
  }
  .why-header h5 {
    font-size: 18px;
    padding-right: 0 !important;
    width: 100%;
  }
  .why-header h3 {
    font-size: 30px;
    line-height: 40px;
    padding-right: 0 !important;
    width: 100%;
  }
  .why-header p {
    width: 100%;
    padding-right: 0 !important;
    overflow: hidden !important;
  }
  .why-social {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .why-img {
    max-width: 100% !important;
    overflow: hidden !important;
    margin-left: 0px !important;
  }
  .why-title p {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 37.5em) {
  .my-container {
    display: flex;
    flex-direction: row !important;
    padding: 10px 40px !important;
  }
  .gg-moon {
    color: white;
  }
  .gg-sun {
    color: white;
  }
  #dropdown {
    color: white;
  }

  .carousel-text {
    top: 200px;
    padding: 40px 60px !important;
    margin: 10px;
  }
  .carousel-text h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .carousel-text p {
    font-size: 17px;
    padding: 30px 0 !important;
  }
  .carousel-img {
    height: 100% !important;
  }
  .carousel-container-text h2 {
    top: 220px;
    left: 80px;
    font-size: 80px;
  }
  .naturally {
    overflow: hidden !important;
  }
  .naturally-content {
    max-width: 100% !important;
    flex: none !important;
    padding: 0 40px !important;
  }
  .naturally-text h3 {
    padding: 20px 0;
  }
  .naturally-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 10px;
  }
  .service-content {
    padding: 30px 20px !important;
  }
  .service .service-text-left {
    padding: 20px 20px 0 20px !important;
  }
  .service-text-right {
    padding: 0 0 0 20px !important;
  }
  .service-absolut {
    font-size: 12vw !important;
    top: 90px;
  }
  .service-item {
    padding: 0 30px !important;
  }
  .why-header {
    padding: 0 30px !important;
  }
  .why-social {
    display: flex !important;
    padding: 0 30px !important;
  }
  .why-img {
    padding: 0 30px !important;
  }
  .why-info {
    left: 20px;
  }
}

@media only screen and (min-width: 41.6875em) {
  .my-container {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    overflow: hidden !important;
    padding: 0 35px !important;
    margin: 0 !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .dark-light #gg-moon {
    color: white !important;
  }
  .dark-light #gg-sun {
    color: white !important;
  }
  #dropdown {
    color: white !important;
  }
  .carousel-text {
    padding: 80px 30px 80px;
    background: white;
    top: 50px;
    left: 0;
  }
  .carousel-container-text h2 {
    font-size: 80px;
    top: 60px;
    left: 120px;
  }
  .carousel-text h3 {
    font-size: 32px;
    line-height: 42px;
    width: 80%;
    margin: 0 auto;
  }
  .carousel-text p {
    font-size: 17px;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .carousel-text a {
    transform: translate(50px, 40px) !important;
  }
  .naturally-content {
    max-width: 100% !important;
    flex: none !important;
    padding: 0 90px !important;
  }
  .naturally-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 50px;
  }
  .service-content {
    padding-top: 50px;
  }
  .service-text-left {
    padding: 0 20px 0 80px !important;
  }
  .service-text-right {
    padding: 0 20px 0 80px !important;
  }
  .service-absolut {
    font-size: 12vw !important;
    top: 90px;
  }
  .service-item {
    padding: 0 80px !important;
  }
  .why-header {
    padding: 0 80px !important;
  }
  .why-social {
    display: flex !important;
    padding: 0 80px !important;
  }
  .why-img {
    padding: 0 80px !important;
  }
  .why-info {
    left: 20px;
  }
}
@media only screen and (min-width: 46em) {
  .carousel-text {
    padding: 80px 30px 40px !important;
    top: 55px;
  }
  .carousel-text a {
    transform: translate(50px, 10px) !important;
  }
  .carousel-text p {
    padding: 30px 0 50px 0 !important;
  }
  .carousel-container-text h2 {
    font-size: 80px;
    top: 85px;
    left: 130px;
  }
}
@media only screen and (min-width: 48em) {
  .my-container {
    padding-left: 15px !important   ;
    padding-right: 15px !important;
  }
  .carousel-container-text {
    left: 0;
  }
  .carousel-container-text h2 {
    font-size: 80px;
    margin-left: 0;
    top: 200px;
    left: 42px;
  }
  .carousel-text {
    top: 150px;
  }
  .carousel-text h3 {
    font-size: 32px;
    line-height: 30px;
    width: 50%;
    text-align: left;
  }
  .carousel-text p {
    font-size: 17px;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-top: 30px;
  }
  .carousel-text a {
    transform: translateX(50%);
    margin-top: 50px;
  }
  .carousel-img img {
    width: 100%;
    object-fit: cover;
  }
  .naturally-container {
    display: grid !important;
  }
  .naturally-content {
    max-width: 100% !important;
    padding: 0 20px !important;
  }
  .naturally-text h3 {
    font-size: 32px;
    font-weight: bold;
  }
  .naturally-img {
    padding: 0 !important;
  }
  .naturally-text {
    padding: 0 !important;
  }
  .naturally-text p {
    margin-top: 20px;
  }
  .service-content {
    display: flex !important;
  }
  .service-text-right {
    padding: 20px 10px !important;
    line-height: 25px;
    top: 0;
  }
  .service-title .service-text-left h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .service-img {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-container {
    padding: 0 30px 0;
  }
  .service-absolut {
    font-size: 90px;
    top: 40px;
  }
  .service-item {
    padding: 0 20px !important;
  }
  .service-item3 {
    margin-top: 20px;
    transform: translateX(50%);
  }
  .service-item img {
    width: 100% !important;
  }
  .why-title h5 {
    font-size: 18px;
  }
  .why-title h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
  }
  .why-title p {
    line-height: 30px;
    font-size: 1rem;
  }
  .why__icon-text p {
    margin-top: 10px;
    line-height: 25 px;
  }
  .why-header {
    padding: 0 !important;
  }
  .why-social {
    padding: 0 !important;
  }
  .why-title {
    padding: 0 25px !important;
  }
  .why-img {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .why-img img {
    width: 100% !important;
    overflow: hidden;
    margin-left: 80px;
  }
  .why-info {
    left: 50px;
    bottom: 50px;
  }
}

@media only screen and (min-width: 50em) {
  .carousel-text {
    width: 100% !important;
    padding: 0 0 0 30px !important;
    top: 150px;
  }
  .carousel-text h3 {
    width: 100% !important;
    left: -60px;
    line-height: 40px;
  }
  .carousel-container-text h2 {
    font-size: 80px;
    margin-left: 0;
    top: 125px;
    left: 0px;
  }
  .carousel-text p {
    width: 100% !important;
    margin-top: 0 !important;
    padding-top: 0px;
  }
  .carousel-text a {
    transform: translate(0) !important;
  }
  .naturally {
    overflow: hidden !important;
  }
  .naturally-text {
    padding-left: 30px !important;
  }
  .naturally-text h3 {
    padding: 0 !important;
  }
  .naturally-img {
    padding: 30px 30px;
  }
  .service {
    overflow: hidden !important;
  }
  .service-content {
    display: flex !important;
  }
  .service-text-left {
    padding-left: 50px !important;
  }
  .service-text-right {
    padding-left: 20px !important;
  }
  .service-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
  .service-item {
    padding: 0 15px !important;
  }
  .why {
    overflow: hidden !important;
  }
  .why-header {
    padding: 0 30px !important;
  }
  .why-social {
    padding: 0 30px !important;
  }
  .why-img img {
    width: 100%;
    margin-left: 50px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 50.75em) {
  .carousel {
    overflow: hidden !important;
  }
  .carousel-text {
    width: 100% !important;
    padding: 0 0 0 30px !important;
    top: 50px !important;
  }
  .carousel-text h3 {
    width: 100% !important;
    left: -60px;
  }
  .carousel-container-text h2 {
    font-size: 80px;
    margin-left: 0;
    top: 16px;
    left: -10px;
  }
  .carousel-text p {
    width: 100% !important;
    margin-top: 0 !important;
    padding-top: 5px 0 0 0 !important;
    font-size: 17px;
  }
  .carousel-text a {
    transform: translate(0px, -70px) !important;
  }
  .naturally {
    overflow: hidden !important;
  }
  .naturally-text {
    padding-left: 50px !important;
  }
  .naturally-img {
    padding: 30px 30px;
  }
  .service {
    overflow: hidden !important;
  }
  .service-content {
    display: flex !important;
  }
  .service-text-left {
    padding-left: 50px !important;
  }
  .service-text-right {
    padding-left: 20px !important;
  }
  .service-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
  .service-item {
    padding: 0 15px !important;
  }
  .why {
    overflow: hidden !important;
  }
  .why-header {
    padding: 0 50px !important;
  }
  .why-social {
    padding: 0 50px !important;
  }
  .why-img img {
    width: 100%;
    margin-left: 100px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 62em) {
  .carousel-container-text {
    width: 100%;
    left: 70px;
  }
  .carousel-container-text h2 {
    top: 70px;
    left: -45px;
    font-size: 90px;
  }
  .carousel-text h3 {
    width: 100%;
    font-size: 35px;
    line-height: 45px;
  }
  .carousel-text p {
    width: 100%;
  }
  .carousel-text a {
    transform: translateX(0);
  }
  .carousel-img {
    width: 100%;
  }
  .carousel-img img {
    width: 100% !important;
    object-fit: cover !important;
  }
  .naturally-container {
    display: flex !important;
  }
  .naturally-content {
    padding: 0 40px !important;
  }
  .naturally-text h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
  }
  .naturally-text p {
    line-height: 26px;
  }
  .service-img {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  }
  .service-img {
    width: 100% !important;
  }
  .service-img .service-item {
    max-width: 100% !important;
    object-fit: contain;
  }
  .service-item3 {
    margin-top: 0;
    transform: translateX(0);
  }
  .why-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .why-img {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .why-img img {
    width: 80% !important;
    overflow: hidden;
    margin-left: 0;
  }
  .why-info {
    left: -35px;
    bottom: 50px;
  }
}
@media only screen and (min-width: 64em) {
  .carousel-text h3 {
    font-size: 36px;
  }
  .carousel-text {
    top: 250px !important;
    padding: 0 !important;
    background: transparent;
  }
  .carousel-container-text h2 {
    top: 215px;
    left: -30px;
  }
  .carousel-text p {
    margin-bottom: 30px;
  }
  .naturally-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-img .service-item {
    padding: 0 5px !important;
  }
  .service-title .service-text-left h3 {
    font-size: 40px !important;
    line-height: 50px !important;
    font-weight: 600 !important;
  }
  .service-text-right P {
    font-size: 22px;
    line-height: 30px;
    padding-top: 10px;
  }
  .service-title {
    padding-bottom: 0 !important;
  }
  .why-title {
    padding: 0 !important;
  }
  .why-header {
    padding-right: 0 !important;
  }
  .why-title h5 {
    font-size: 22px;
  }
  .why-title h3 {
    padding-right: 0 !important;
    font-size: 40px;
    line-height: 50px;
  }
  .why-img {
    width: 100% !important;
    padding-right: 25px !important;
  }
  .why-img img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }
  .why-title p {
    font-size: 17px;
  }
}
@media only screen and (min-width: 85.375em) {
  header .my-container {
    max-width: 1200px;
    margin: 0 auto !important;
  }
  .carousel-text h3 {
    font-size: 40px;
  }
  .carousel-text {
    top: 350px !important;
    left: 80px !important;
  }
  .carousel-container-text h2 {
    top: 295px;
    left: 30px;
    font-size: 100px;
  }
  .naturally-img-full {
    max-width: 100% !important;
  }
}

/* 
@media only screen and (min-width: 75em) {
    .carousel-container-text {
        width: 100%;
        left: 150px;
    }
    .carousel-text h3 {
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
    }
    .why-img {
        margin-left: 0 !important;
        width: 100% !important;
    }
    .why-img img {
        width: 100% !important; 
        overflow: hidden;
        margin-left: 30px;
    }
} */

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

/* Services */
.services {
  padding-bottom: 8rem;
}
.services .services-item a {
  text-decoration: none;
  border: 1px solid rgb(112, 112, 112, 0);
  padding: 1.5rem 1rem;
  margin: 1rem 0.2rem;
  border-radius: 0.7rem;
  transition: all.8s;
}
.services .services-item a:hover {
  border: 1px solid rgb(112, 112, 112, 0.15);
}
.services .services-item a:hover h3 {
  color: #009f4d;
}
.services .services-item .item-icon img {
  max-width: 100%;
}
.services .services-item .item-content h3 {
  font-size: 22px;
  font-family: "Volkhov", serif;
  color: black;
  font-weight: bold;
  transition: all.8s;
}
.services .services-item .item-content p {
  font-size: 17px;
  color: #707070;
  font-family: "Source Sans Pro", sans-serif;
}

/* Gallery */
.gallery {
  padding-bottom: 8rem;
}
.gallery .gallery-item .item-1 h5 {
  font-size: 22px;
  color: #fb811e;
}
.gallery .gallery-item .item-1 h3 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.gallery .gallery-item .item-1 p {
  font-size: 17px;
  color: #707070;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
.gallery .gallery-item .item-1 button {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #fb811e;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.8s;
}
.gallery .gallery-item .item-1 button:hover {
  background-color: #009f4d;
}
.gallery .gallery-item .item {
  overflow: hidden;
}
.gallery .gallery-item .item img {
  width: 100%;
}
.gallery .item-content a {
  text-decoration: none;
  overflow: hidden;
}
.gallery .item-content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 3;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
}
.gallery .item-content a:hover::before {
  top: 0;
  left: 100%;
  transition-duration: 0.8s;
}
.gallery .item-content h5 {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgb(255 255 255 / 27%);
  padding: 6px;
  width: 80%;
}

/* Testimonials */
.testimonials {
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
  width: 100%;
  position: relative;
}
.testimonials::before {
  content: "";
  background-color: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 520px;
  left: 0;
  right: 0;
}
.testimonials .carousel-item {
  height: 520px;
}
.testimonials .carousel-caption {
  position: absolute;
  right: 12%;
  left: 11%;
  bottom: 35%;
  text-align: left;
}
.testimonials .customer-profile {
  text-align: center;
}
.testimonials .customer-profile img {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 1rem;
}
.testimonials .customer-profile h3 {
  font-size: 20px;
  font-family: "Volkhov", serif;
  font-weight: 700;
}
.testimonials .customer-profile p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.testimonials .customer-caption span {
  font-size: 25px;
  color: #fb811e;
}
.testimonials .customer-caption p {
  text-indent: 1.6rem;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
}

.testimonials .carousel-indicators {
  bottom: 20%;
}
.testimonials .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.testimonials .carousel-indicators li:hover {
  background-color: rgb(251, 129, 30);
  opacity: 1;
}
.testimonials .carousel-indicators .active {
  background-color: #fb811e;
}

/* Footer */
footer {
  padding: 80px 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #707070;
}
footer .title h3 {
  font-family: "Volkhov", serif;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}
footer .title-copy-right {
  font-family: "Volkhov", serif;
}
footer .title-copy-right a,
.title-copy-right i {
  font-size: 32px;
  color: #fb811e;
  text-transform: none;
  text-decoration: none;
  transition: all.5s;
}
footer .title-copy-right a:hover,
footer .title-copy-right a:hover i {
  color: black;
}
footer .title-copy-right i {
  font-size: 20px;
  position: absolute;
  top: -10px;
  left: 70px;
}
footer .content {
  line-height: 24px;
  font-size: 17px;
}
footer .content a {
  text-decoration: none;
  color: #707070;
  transition: all.5s;
}
footer .content-copy-right {
  padding-top: 10px;
}
footer .content .copy-right-a {
  margin-top: 50px;
}
footer .content .copy-right-a a {
  color: #009f4d;
}
footer .content a:hover {
  color: #fb811e;
}
footer .footer-news .news-button {
  display: flex;
}
footer .footer-news .news-button input {
  background-color: #f4f4f4;
  width: 80%;
  color: #707070;
  padding: 12px 20px;
  border-radius: 30px 0px 0px 30px;
  border: none;
  margin: 0;
  outline: none;
}
footer .footer-news .news-button button {
  width: 20%;
  margin: 0;
  border: none;
  border-radius: 0px 30px 30px 0px;
  background-color: #009f4d;
  color: white;
  outline: none;
  font-size: 16px;
  transition: all.8s;
}
footer .footer-news .news-button button:hover {
  background-color: rgb(0, 159, 77, 0.8);
}
footer .footer-news ul {
  display: flex;
  margin-top: 20px;
}
footer .footer-news li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgb(0, 159, 77, 0.08);
  margin-right: 10px;
  border-radius: 50%;
  transition: all.5s;
}
footer .footer-news li:hover {
  background-color: rgb(251, 129, 30, 0.08);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
footer .footer-news li a {
  color: #009f4d;
  transition: all.5s;
}
footer .footer-news li:hover a {
  color: #fb811e;
}
footer .copy-right-2 {
  display: none;
}

/* Back to top */
/* backToTop */
.backToTop {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: #009f4d;
  color: white;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  color: #fff;
  text-decoration: none;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-out;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* Responsive */

/* Mobile */
@media screen and (max-width: 720px) {
  /* Services */
  .services .services-item a {
    text-decoration: none;
    border: 1px solid rgb(112, 112, 112, 0);
    padding: 0.5rem 0rem;
    margin: 0.5rem 0.2rem;
    border-radius: 0.7rem;
    transition: all.8s;
  }
  /* Gallery */
  .gallery .gallery-item .item-1 h3 {
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
  .gallery .gallery-item .item-1 p {
    display: none;
  }
  .gallery .gallery-item .item-1 button {
    margin-top: 0rem;
    font-size: 16px;
  }

  /* Testimonails */
  .testimonials .carousel-caption {
    position: relative;
    top: 0;
    left: 3%;
    bottom: 0;
    padding-right: 3%;
  }
  .testimonials .customer-profile img {
    border-radius: 50%;
    width: 20%;
    margin-bottom: 1rem;
  }
  .testimonials .customer-caption p {
    text-indent: 1.6rem;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
  }
  .testimonials .carousel-indicators {
    bottom: 10%;
  }
  /* Footer */
  footer .copy-right {
    display: none;
  }

  footer .copy-right-2 {
    display: block;
    margin-top: 20px;
  }

  .footer-contact {
    margin-top: 20px;
  }

  .footer-news {
    margin-top: 20px;
  }
}

/* Tablet */
@media screen and (max-width: 912px) {
  .testimonials .carousel-caption {
    position: relative;
    top: 10%;
    left: 3%;
    bottom: 0;
    padding-right: 3%;
  }
}
